JSONEpicor/Service References/UD100/UD1004.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Ice:BO:UD100" elementFormDefault="qualified" targetNamespace="Ice:BO:UD100" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev-epicor10.saberlogicllc.local/ERP100700_RS/Ice/BO/UD100.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ice.Tablesets" />
  <xs:import schemaLocation="http://dev-epicor10.saberlogicllc.local/ERP100700_RS/Ice/BO/UD100.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dev-epicor10.saberlogicllc.local/ERP100700_RS/Ice/BO/UD100.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dev-epicor10.saberlogicllc.local/ERP100700_RS/Ice/BO/UD100.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:element name="GetNewUD100">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q1:UD100Tableset" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q2:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100Attch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q3:UD100Tableset" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100AttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q4:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q5:UD100Tableset" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q6:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100AAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:UD100Tableset" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="childKey5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewUD100AAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetByIDResult" nillable="true" type="q9:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetListResult" nillable="true" type="q10:UD100ListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClauseUD100" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseUD100Attch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseUD100A" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseUD100AAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q11:UD100Tableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetBySysRowIDResult" nillable="true" type="q13:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q14:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="GetBySysRowIDsResult" nillable="true" type="q15:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q17:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q18:UpdExtUD100Tableset" />
        <xs:element minOccurs="0" name="continueProcessingOnError" type="xs:boolean" />
        <xs:element minOccurs="0" name="rollbackParentOnChildError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ice" minOccurs="0" name="UpdateExtResult" nillable="true" type="q19:BOUpdErrorTableset" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q20:UpdExtUD100Tableset" />
        <xs:element minOccurs="0" name="errorsOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetaNewUD100">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetaNewUD100Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetaNewUD100A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q23:UD100Tableset" />
        <xs:element minOccurs="0" name="ParentKey1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentKey2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentKey3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentKey4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ParentKey5" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetaNewUD100AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ice.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:UD100Tableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>